---
---

@import "{{ site.theme }}";

.wrapper {
  width: auto;
  max-width: 1204px;
}

section {
  width: auto;
  float: none;
  margin-left: 360px;
}

a:hover, a:focus {
  font-weight: inherit;
  text-decoration: underline;
}

.inner-list {
  margin: 0;
}

@media print, screen and (max-width: 960px) {
  section {
    margin-left: 0;
  }
}
