---
---

@import "";

.wrapper {
  width: auto;
  max-width: 1204px;
}

section {
  width: auto;
  float: none;
  margin-left: 360px;
}

a:hover, a:focus {
  font-weight: inherit;
  text-decoration: underline;
}

.innerList {
  margin: 0;
}
